.wrapper {
  position: relative;
  width: 100%;
  background-color: #bfb9b9; }

.js-code {
  background-image: url("../img/js-bg.jpg");
  background-size: cover;
  background-position: center; }

.html-code {
  background-image: url("../img/html-bg.jpg");
  background-size: cover;
  background-position: center; }

.title {
  position: relative;
  margin: 40px 0;
  color: #fff;
  font-size: 2em; }
  @media screen and (max-width: 640px) {
    .title {
      font-size: 1.6em; } }

.cursor {
  position: absolute;
  top: 0;
  right: -20px;
  font-weight: normal;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes cursor {
  100% {
    opacity: 0; } }

@keyframes cursor {
  100% {
    opacity: 0; } }

.title--light {
  color: #f1f1f1; }

.title--dark {
  color: #1f1f1f; }

.button {
  display: block;
  height: 40px;
  width: 160px;
  margin: 0 auto;
  background-color: orange;
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px 0 #fff;
          box-shadow: inset 0 0 5px 0 #fff;
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer; }
  .button:active {
    width: 165px;
    -webkit-box-shadow: inset 0 0 25px 0 #fff;
            box-shadow: inset 0 0 25px 0 #fff; }

.header {
  background-color: rgba(10, 10, 10, 0.4);
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  min-height: 60px; }
  @media screen and (max-width: 800px) {
    .header {
      width: 100%; } }
  .header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10%; }
  .header .down {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    text-align: center;
    fill: #fff;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s; }
    .header .down:hover {
      border-radius: 25%;
      background-color: rgba(255, 255, 255, 0.6);
      fill: #000; }
    @media screen and (max-width: 800px) {
      .header .down {
        display: none; } }

.portfolio {
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  @media screen and (max-width: 800px) {
    .portfolio {
      width: 100%; } }
  .portfolio .left,
  .portfolio .right {
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .portfolio .left {
    left: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .portfolio .right {
    right: 0; }
  .portfolio .slider3d {
    width: 100%;
    min-height: 100vh;
    overflow: hidden; }
    .portfolio .slider3d .wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
    .portfolio .slider3d .slide {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      width: 100%;
      height: 100%;
      padding: 40px;
      background-color: rgba(100, 100, 100, 0.9); }
      .portfolio .slider3d .slide .theme, .portfolio .slider3d .slide .icon, .portfolio .slider3d .slide .visit {
        justify-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
      .portfolio .slider3d .slide .mockup, .portfolio .slider3d .slide .icon {
        width: 80%;
        top: 0;
        left: 0;
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 5px 0 #4e4e4e;
                box-shadow: 5px 5px 5px 0 #4e4e4e; }
        .portfolio .slider3d .slide .mockup:hover, .portfolio .slider3d .slide .icon:hover {
          top: -3px;
          left: -3px;
          -webkit-box-shadow: 10px 10px 5px 0 #4e4e4e;
                  box-shadow: 10px 10px 5px 0 #4e4e4e; }
      .portfolio .slider3d .slide .theme {
        grid-column: 1/11;
        font-size: 40px;
        color: #ddd; }
      .portfolio .slider3d .slide .visit {
        grid-column: 1/11;
        grid-row: 3/4;
        text-align: center; }
        .portfolio .slider3d .slide .visit .mockup {
          display: inline-block;
          position: relative; }

.about {
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 800px) {
    .about {
      width: 100%; } }
  .about .description {
    color: #f1f1f1;
    font-size: 20px; }

.footer {
  padding: 10px;
  background-color: #1f1f1f;
  color: #f1f1f1;
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  min-height: auto; }
  @media screen and (max-width: 800px) {
    .footer {
      width: 100%; } }
  .footer .copyright {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .footer .contacts {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .footer .social {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .footer .social img {
      width: 50px;
      height: 50px; }
      .footer .social img:hover {
        display: inline-block;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 10px 0 #fff;
                box-shadow: 0 0 10px 0 #fff; }
  .footer .footer-nav {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .footer-nav .nav-item {
      list-style-type: none; }
      .footer .footer-nav .nav-item a {
        text-decoration: none;
        color: #f1f1f1; }
      .footer .footer-nav .nav-item:hover a {
        opacity: 0.6; }
    @media screen and (max-width: 800px) {
      .footer .footer-nav {
        display: none; } }

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 800px) {
    .skills {
      width: 100%; } }
  .skills .grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "title	title	 title		title		  title			title		 title	   title" "haml   haml     pug        css           css           webpack      webpack   webpack"  "html   html     photoshop  css           css           sass         sass      npm "  "html   html     jquery     materialize   bootstrap     gulp         git       git"  "php    js       js         ajax          ajax          gulp         git       git"  "mysql  js       js         es6           http          scrum        scrum     scrum "; }
    .skills .grid img {
      width: 100%;
      -ms-flex-item-align: center;
          align-self: center;
      justify-self: center;
      -webkit-box-shadow: 2px 2px 5px 0 #4e4e4e;
              box-shadow: 2px 2px 5px 0 #4e4e4e;
      border-radius: 5px;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg); }
      .skills .grid img:hover {
        -webkit-transform: rotateY(30deg);
                transform: rotateY(30deg);
        -webkit-box-shadow: 7px 7px 2px 0 #4e4e4e;
                box-shadow: 7px 7px 2px 0 #4e4e4e; }
    .skills .grid .title {
      grid-area: title;
      margin: 20px;
      -ms-flex-item-align: center;
          align-self: center;
      justify-self: center; }
    .skills .grid .ajax {
      grid-area: ajax; }
    .skills .grid .bootstrap {
      grid-area: bootstrap; }
    .skills .grid .css {
      grid-area: css; }
    .skills .grid .es6 {
      grid-area: es6; }
    .skills .grid .git {
      grid-area: git; }
    .skills .grid .gulp {
      grid-area: gulp; }
    .skills .grid .html {
      grid-area: html; }
    .skills .grid .http {
      grid-area: http; }
    .skills .grid .jquery {
      grid-area: jquery; }
    .skills .grid .js {
      grid-area: js; }
    .skills .grid .materialize {
      grid-area: materialize; }
    .skills .grid .mysql {
      grid-area: mysql; }
    .skills .grid .npm {
      grid-area: npm; }
    .skills .grid .photoshop {
      grid-area: photoshop; }
    .skills .grid .php {
      grid-area: php; }
    .skills .grid .sass {
      grid-area: sass; }
    .skills .grid .scrum {
      grid-area: scrum; }
    .skills .grid .webpack {
      grid-area: webpack; }
    .skills .grid .haml {
      grid-area: haml; }
    .skills .grid .pug {
      grid-area: pug; }

.contact {
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 800px) {
    .contact {
      width: 100%; } }
  .contact .mail {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact .mail .mail,
    .contact .mail .message,
    .contact .mail .theme {
      display: block;
      height: 30px;
      width: 100%;
      margin: 10px 0;
      padding: 5px;
      font-size: 20px; }
      .contact .mail .mail::-webkit-input-placeholder,
      .contact .mail .message::-webkit-input-placeholder,
      .contact .mail .theme::-webkit-input-placeholder {
        font-style: italic;
        color: #d2d2d2; }
      .contact .mail .mail:-moz-placeholder,
      .contact .mail .message:-moz-placeholder,
      .contact .mail .theme:-moz-placeholder {
        font-style: italic;
        color: #d2d2d2; }
      .contact .mail .mail::-moz-placeholder,
      .contact .mail .message::-moz-placeholder,
      .contact .mail .theme::-moz-placeholder {
        font-style: italic;
        color: #d2d2d2; }
      .contact .mail .mail:-ms-input-placeholder,
      .contact .mail .message:-ms-input-placeholder,
      .contact .mail .theme:-ms-input-placeholder {
        font-style: italic;
        color: #d2d2d2; }
    .contact .mail .message {
      height: 200px; }

.components {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 800px) {
    .components {
      width: 100%; } }
  .components .grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "one  one two " "one one three" "four five six"; }
    .components .grid .one {
      grid-area: one;
      background-color: red; }
    .components .grid .two {
      grid-area: two;
      background-color: blue; }
    .components .grid .three {
      grid-area: three;
      background-color: yellow; }
    .components .grid .four {
      grid-area: four;
      background-color: green; }
    .components .grid .five {
      grid-area: five;
      background-color: pink; }
    .components .grid .six {
      grid-area: six;
      background-color: grey; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  overflow-x: hidden; }
