* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.back {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: black;
  justify-content: center;
}

.back a {
  color: white;
  line-height: 30px;
  font-size: 40px;
  text-decoration: none;
}

.tasks {
  padding: 40px 0;
}

.task {
  margin-bottom: 20px;
}

.task a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #b5b5c3;
  min-width: 150px;
  height: 50px;
  padding: 0 10px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  box-shadow: 1px 1px 3px -1px grey;
  transition: all ease .2s;
}

.task a:hover {
  box-shadow: 1px 1px 5px 3px grey;
}

.divider {
  display: inline-flex;
  padding: 0 10px;
}
