@charset "UTF-8";
@font-face {
    font-family: "SAP Design System Icons";
    src: url("../fonts/ds-icon/design-system-icons.eot");
    src: url("../fonts/ds-icon/design-system-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/ds-icon/design-system-icons.woff") format("woff"), url("../fonts/ds-icon/design-system-icons.ttf") format("truetype"), url("../fonts/ds-icon/design-system-icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ds-icon:before {
    font-family: "SAP Design System Icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    display: block;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1;
}

.ds-icon--account:before {
    content: "\e00e";
}

.ds-icon--arrowdown:before {
    content: "\e022";
}

.ds-icon--arrowright:before {
    content: "\e001";
}

.ds-icon--arrowleft:before {
    content: "\e000";
}

.ds-icon--arrowup:before {
    content: "\e023";
}

.ds-icon--first:before {
    content: "\e031";
}

.ds-icon--last:before {
    content: "\e032";
}

.ds-icon--calendar:before {
    content: "\e02d";
}

.ds-icon--chat:before {
    content: "\e018";
}

.ds-icon--check:before {
    content: "\e013";
}

.ds-icon--check-outline:before {
    content: "\e014";
}

.ds-icon--circle:before {
    content: "\e00f";
}

.ds-icon--circle-half:before {
    content: "\e027";
}

.ds-icon--circle-outline:before {
    content: "\e010";
}

.ds-icon--clear:before {
    content: "\e02a";
}

.ds-icon--close:before {
    content: "\e002";
}

.ds-icon--comm-comments:before {
    content: "\e01a";
}

.ds-icon--comm-likes-outline:before {
    content: "\e01b";
}

.ds-icon--comm-question-answered:before {
    content: "\e01c";
}

.ds-icon--comm-question-open:before {
    content: "\e01d";
}

.ds-icon--comm-question-withresponses:before {
    content: "\e01e";
}

.ds-icon--comm-views:before {
    content: "\e01f";
}

.ds-icon--comm-votes:before {
    content: "\e020";
}

.ds-icon--document-type:before {
    content: "\e029";
}

.ds-icon--download:before {
    content: "\e003";
}

.ds-icon--dropdown:before {
    content: "\e015";
}

.ds-icon--email:before {
    content: "\e004";
}

.ds-icon--environment:before {
    content: "\e005";
}

.ds-icon--error:before {
    content: "\e030";
}

.ds-icon--finance:before {
    content: "\e006";
}

.ds-icon--fullscreen:before {
    content: "\e024";
}

.ds-icon--globe:before {
    content: "\e007";
}

.ds-icon--impaired:before {
    content: "\e019";
}

.ds-icon--info:before {
    content: "\e021";
}

.ds-icon--lock:before {
    content: "\e02b";
}

.ds-icon--maintain:before {
    content: "\e017";
}

.ds-icon--menu:before {
    content: "\e008";
}

.ds-icon--mic:before {
    content: "\e02c";
}

.ds-icon--playbutton:before {
    content: "\e009";
}

.ds-icon--print:before {
    content: "\e00a";
}

.ds-icon--replay:before {
    content: "\e028";
}

.ds-icon--search:before {
    content: "\e00b";
}

.ds-icon--share:before {
    content: "\e00c";
}

.ds-icon--social:before {
    content: "\e00d";
}

.ds-icon--star:before {
    content: "\e011";
}

.ds-icon--star-outline:before {
    content: "\e012";
}

.ds-icon--success:before {
    content: "\e02e";
}

.ds-icon--warning:before {
    content: "\e02f";
}

.ds-icon--zoom:before {
    content: "\e016";
}

.ds-icon--zoom-in:before {
    content: "\e025";
}

.ds-icon--zoom-out:before {
    content: "\e026";
}

.ds-icon--external-link:before {
    content: "\e035";
}

.ds-icon--regular:before {
    font-size: 1rem;
    height: 1.5rem;
    width: 1rem;
    line-height: 1.5;
}

.ds-icon--big:before {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1;
}

.ds-icon--badge:before {
    font-size: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    line-height: 1;
}

.ds-message-box--warning {
    font-size: 1.25rem;
    font-family: BentonSans,Avenir,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #3c3c3c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    color: #be8500;
    background-color: #fbe8bc;
    border: .0625rem solid #be8500;
}

.prerequisites-warn-block {
    margin-bottom: 2rem;
    margin-top: -1rem;
}

.cart-promotions-applied p{
    margin-bottom: 0;
}

.ds-message-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem;
}

.crossSell-warn-block {
    margin-top: 1rem;
}

.crossSell-warn-block, .crossSell-warn-block .ds-message-box__content {
    color: #966900;
}

.crossSell-warn-block .ds-message-box--warning .ds-icon--warning {
    color: #966900;
    margin-right: .75rem;
    position: absolute;
    top: 1rem;
    left: 0.75rem;
}

.crossSell-warn-block .ds-icon--big:before {
    font-size: 1.75rem;
    height: 1.75rem;
    width: 1.75rem;
}

.crossSell-warn-block .ds-content-block {
    margin-left: 2rem;
    font-size: 1.15rem;
    padding-right: 3rem;
    margin-top: 0.2rem;
    display: inline-block;
}

.crossSell-warn-block .ds-warn-prerequisites ul {
    list-style-type: none;
    margin-left: 0;
    font-size: 1.1rem;
    color: black;
}

.crossSell-warn-block .ds-warn-prerequisites ul li::before {
    content: "\25A0";
    font-size: 1.25rem;
    vertical-align: unset;
    line-height: 1.25rem;
    float: left;
    width: 1.25rem;
}

/*# sourceMappingURL=_icons.css.map */
