/** Request support form common styles **/

*, *:before, *:after {
    content: none;
}

.request-support-form #customerRequestFormId #spinner {
    display: none;
}

.request-support-form #customerRequestFormId #img-spinner {
    height: 20px;
}

.request-support-form #customerRequestFormId .alert-box img {
    height: 18px;
    margin: 0 6px 2px 10px;
}

.request-support-form #ticketAttachmentsDiv {
    margin-bottom: 5px;
}

.request-support-form #ticketAttachmentsDiv .alert-box {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0 5px 5px 0;
}

.request-support-form #ticketAttachmentsDiv .alert-box p {
    margin-bottom: 0;
}

.request-support-form #ticketAttachmentsDiv .alert-box a {
    color: #999999;
    word-break: break-all;
    margin-right: 10px;
    font-weight: bold;
}

.request-support-form #ticketAttachmentsDiv .alert-box a:hover {
    color: #BC3618;
}

.request-support-form #ticketAttachmentsDiv .alert-box.error {
    border: 1px solid #ffcc00;
    background-color: #fff5cc;
}

.request-support-form #ticketAttachmentsDiv span {
    color: black;
    pointer-events: none;
    cursor: default;
    margin-right: 10px;
}

.request-support-form #attachFileLink {
    margin-left: 8px;
    vertical-align: middle;
}

.request-support-form #ticketDropDiv {
    width: 100%;
    height: auto;
    border: 1px dashed #ccc;
    border-radius: 3px;
    padding: 11px;
    margin-bottom: 16px;
}

.request-support-form #ticketDropDiv img.paperclip {
    height: 26px;
}

.request-support-form #ticketDropDiv .attach-desc {
    vertical-align: middle;
    color: #808080;
}

.request-support-form #cc-email-addresses-wrapper {
    margin-bottom: 36px;
}

.contactUs header {
    padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .request-support-form #ticketDropDiv {
        padding-left: 20%;
    }

    .request-support-form #ticketDropDiv img.paperclip {
        position: absolute;
        left: 10%;
    }
}

/********************************
 HS-34383 increases iFrame Chat-Window size as per request from SAP.com
 ********************************/

.lp_maximized {
    width: 475px !important;
    height: 650px !important
}

.lp_chat_line {
    max-width: 90% !important;
}

#lpChat .lp_chat_line_wrapper .lp_rich_content_line .lp_title_text .lp-json-pollock .lp-json-pollock-layout, #lpChat .lp_chat_line_wrapper .lp_rich_content_line .lp_title_text .lp-json-pollock.lp-json-pollock-single-element {
    max-width: 390px !important;
}

#lpChat .lp_chat_line_wrapper .lp_rich_content_line .lp_title_text .lp-json-pollock .lp-json-pollock-element-text {
    color: #ffffff !important;
    background-color: #048ccf !important
}

/********************************
 HS-34383 End
 ********************************/
