.ASM_customer360-modal .asm__customer360-emptyCoupons {
    color: #8a8fa1;
}

.ASM_customer360-modal .asm__customer360-right-align {
    text-align: right;
    font-size: 16px;
    display: block;
    color: #8a8fa1;
}
#_asm .asm__customer360 .asm__customer360-coupon-entries-section .asm__customer360-right-align .ASM-btn{
    text-align: right;
    font-size: 16px;
    display: block;
}

.ASM_customer360-modal .submitAsmCouponChanges {
    margin-left: 28px;
}

.asm__customer360 #entryCouponsCode {
    color: #ffffff;
}
.asm__customer360 #entryCouponsCode .asm__customer360-coupon-entries-section{
    font-size: 16px;
}
#_asm .asm__customer360__buttons .ASM-btn {
    display: inline;
}
.asm__customer360 {
    padding: 10px 30px;
}
#ASMCouponsFragment {
    border-top: 1px solid #a1aebd;
}
.ASM_customer360-modal #cboxClose .ASM_close {
    font-size: 25px;
    line-height: 35px;
}
.asm__customer360__menu .navbar-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.asm__customer360 .asm__customer360-coupon-entries-section .row {
    padding: 15px 0;
}
.asm__customer360 .asm__customer360-coupon-entries-section {
    border-bottom: 1px solid #a1aebd;
}

.asm__customer360-coupon-entries-section input[type="file"], .asm__customer360 input[type="checkbox"], .asm__customer360 input[type="radio"], .asm__customer360 select {
    margin: 0;
}

#_asm #entryCouponsCode .ASM-coupon-btn {
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding: 0 15px;
    font-size: 19px;
    font-weight: 300;
    -webkit-box-shadow: 0 2px 0 #1b2c42;
    box-shadow: 0 2px 0 #1b2c42;
    color: #000;
    float: none;
    margin: 0;
    background-color: #008fd3;
    text-align: center;
    vertical-align: middle;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}
.asm__customer360-coupon-name {
    font-weight: bold;
}
.asm__customer360 #section {
    max-height: 350px;
    overflow: auto;
}

.asm__customer360-non-asm-coupons-warning {
    font-weight: bold;
    text-align: center;
    background: #fffe8e;
    padding: 4px;
    color: #5d5d5d;
}
