* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.calendar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.calendar {

}

.calendar__cell {
    position: relative;
    width: 150px;
    min-width: 150px;
    height: 150px;
    background: #ffecf0;
    border-radius: 4px;
}

.calendar__cell-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #ffecf0;
    transition: all ease .5s;
    border-radius: 4px;
}

.calendar__cell-inner--open {
    z-index: 1;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 5px 0 gray;
}

.calendar__date {
    display: block;
    padding: 2px 5px;
    font-size: 25px;
    font-weight: bold;
}

.event {
    display: flex;
}

.event__priority {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.event__priority--1 {background: green;}
.event__priority--2 {background: yellow;}
.event__priority--3 {background: black;}
.event__priority--4 {background: gray;}
.event__priority--5 {background: peru;}
.event__priority--6 {background: plum;}
.event__priority--7 {background: purple;}
.event__priority--8 {background: pink;}
.event__priority--9 {background: orange;}
.event__priority--10 {background: red;}

.event__message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.context {
    display: none;
    position: absolute;
    width: 150px;
    max-width: 150px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px -3px;
}

.context__item {
    padding: 2px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.context__item:hover {
    background: #ffecf0;
}

.modal {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 320px;
    max-width: 320px;
    padding: 0px 15px 15px 15px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px -3px;
}

.modal__top {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}

.modal__close {
    font-size: 31px;
    transform: scaleY(.8);
    color: #a7a4a4;
    cursor: pointer;
}

.modal__field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 16px;
    color: #8a8989;
}

.modal__field input, 
.modal__field textarea {
    width: 100%;
    margin: 7px 0;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #a2a2a2;
}

.modal__field textarea {
    min-height: 100px;
}

.modal__btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.modal__btn {
    width: 48%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.modal__btn--red {
    background: #f18078;
}

.modal__btn--green {
    background: #25c325;
}