#year-field {
    margin: 10px;
    width: 250px;
}

.yearfield__display {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 gray;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
