* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}


/*!!!!!!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!! */

header {
	background-color: #3a5079;
}

.header_content {
	width: 70%;
	min-width: 950px;
	margin: 0 auto;
	overflow: hidden;
}

/*header logo*/

.header_logo, .header_nav, .header_btn {
	float: left;
	height: 100px;
}

.header_logo {
	width: 30%;
	color: white;
	font-size: 30px;
	line-height: 100px;
	height: 100px;
}

.header_logo--pmob {
	display: none;
}

/*header navigation*/

.header_nav {
	width: 40%;
}

.header_nav--mob {
	display: none;
}

.header_nav--li {
	position: relative;
	bottom: -7px;
	line-height: 100px;
	float: left;
	list-style-type: none;
	width: 20%;	
}

.header_nav--li  a{
	text-decoration: none;
	color: white;
}

.header_nav--li  a:hover{
	border-top: 2px solid #48a889;
	padding-top: 5px;
	color: #48a889;
}

/*header login and languge*/

.header_btn {
	width: 30%;
}

.header_btn--wrap {
	width: 75%;
	height: 100px;
	line-height: 100px;
	margin-left: 30%;
}

.header_btn--wrap button {																																																			
	text-align: center;
	padding: 5px;
	border: none;
	border-radius: 3px;
	color: white;
	margin: 10px;
	cursor: pointer;
	margin: 45px 10px 0;	
}

.header_btn--lang {
	background-color: #324b71;
	width: 80px;
}

.header_btn--lang img{
	height: 12px;
	margin-right: 14px;
}

.header_btn--login {
	background-color: #495f85;
	width: 90px;
}


@media screen and (max-width: 960px){

	.header_content {
		min-width: 100%;
		margin: 0;
	}

	.header_nav {
		display: none;
	}

	.header_nav--mob {
		display: block;
		width: 100%;
		height: 50px;
	}

	.header_nav--li {
		line-height: 50px;
		bottom: 0;
		text-align: center;
	}

	.header_logo, .header_btn {
		width: 50%;
		height: 50px;
		line-height: 50px;
	}

	.header_btn--wrap {
		width: 100%;
		margin-left: 0;
		line-height: 50px;
		height: 50px;
	}

	.header_btn--wrap button {
		margin-top: 0;
	}
}

@media screen and (max-width: 720px) {

	.header_content {
		height: 50px;
	}

	.header_logo, .header_btn{
		width: 100%;
	}

	.header_logo--p {
		display: none;
	}

	.header_logo--pmob {
		display: block;
		width: 50px;
		line-height: 50px;
		text-align: center;
	}

	.header_nav--li {
		margin-left: 10px;
		float: none;
		text-align: left;
	}

	div.header_content--open {
		transition: all ease 1s;
		height: 100vh;
	}

	p.rotate {
		transition: all ease 1s;
		transform: rotate(45deg);
	}
}


/*!!!!!!!!!!!!!!!!!main content!!!!!!!!!!!!!!!!!!!!!!!*/

main {
	background-image: linear-gradient(90deg,#fff, #f6f8f9);
}

.main_wrap {
	width: 70%;
	min-width: 950px;
	margin: 0 auto;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!main content!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main_content {
	width: calc(2*100%/3);
	min-height: 100px;
	float: left;
	background-color: #fff;
}

.home {
	position: relative;
	width: 180px;
	height: 29px;
	line-height: 29px;
	margin: 40px 0;
	padding: 0 15px;
	border: 1px solid #f3f3f3;
	background-image: url(../images/triangle.png);
	background-position: -12px -14px;
	background-repeat: no-repeat;
}

.home_text {
	position: absolute;
	right: 15px;
}

.mainblock {
	margin-bottom: 30px;
	color: #3a4f78;
}

.mainblock_h2 {
	min-height: 30px;
	padding: 0 4%;
	font-size: 20px;
	border-bottom: 2px solid #e4e4e6
}

.mainblock_h2--small {
	float: left;
	font-size: 15px;
	width: 20%;
	text-align: center;
	padding: 0;
}

.mainblock_h2--small:hover {
	color: #4ab38b;
	border-bottom-color: #4ab38b;
	cursor: pointer;
}

.mainblock_h2--pick {
	margin: 0 15px;
}

.mainblock_h2--picksmall {
	margin: 0 5px;
}

.mainblock_form {
	width: 44%;
	float: left;

	margin: 2% 4%;
}

.mainblock_form:nth-child(1n){
	margin-right: 0;
}

.form_title {
	font-size: 12px;
	padding: 10px;
}

.img_title {
	font-size: 12px;
	padding: 20px;
}

.form_select {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border:1px solid #e1e7ea;;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding: 10px;
}

.form_selectBox {
	position: relative;
}

.form_selectBox--select:after {
	content: url(../images/arrow.png);
	width: 6px;
	height: 11px;
	position: absolute;
	right: 15px;
	top: 10px;
}

.form_select--inputsmall {
	width: 46%;
}

.mainblock_text, .mainblock_h1 {
	margin: 20px 0;
	padding: 0 4%;
}

.mainblock_images {
	margin: 2% 4%;
}

.mainblock_img {
	height: 80px;
	width: 80px;
	text-align: center;
	margin: 8px;
	float: left;
	border: 1px solid #e1e7ea;
	border-radius: 3px;
	cursor: pointer;
	overflow: hidden;
	line-height: 80px;
	font-size: 45px;
	color: #b1b6bf;
	position: relative;
}

.mainblock_icon {
	height: 78px;
	width: 78px;
	position: absolute;
	left: 0;
}

.mainblock_icon--true {
	z-index: 2;
}

.mainblock_icon--true:hover {
	opacity: 0.6;
}

.mainblock_icon--fill {
	color: white;
	background-color: #05235a;
}

.icon_plus--fill {
	transform: rotate(45deg);
	display: block;
}

.mainblock_icon--false {
	display: none;
}

.mainblock_icon--true:hover {
	
}

div.mainblock_img--empty {
	border: 2px dashed #b1b6bf;
	color: #b1b6bf;
}

div.mainblock_img--empty:hover {
	border: 2px dashed #646e80;
	color: #646e80;
}

.main_button--green {
	display: block;
	width: 220px;
	height: 40px;
	margin: 80px auto;
	background-color: #4bb38c;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.main_button--green:hover {
	box-shadow: 0 0 5px 0 black;
	outline: none;
}

.main_button--green:active {
	box-shadow: inset 0 0 5px 0 white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!main side!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main_side {
	background-color: #f6f8f9;
	width: calc(100%/3);
	min-height: 100px;
	float: left;
	border-bottom: 5px solid #a3a5a8;
}

.side_step--done {
	height: 90px;
	margin: 10px 0;
	padding: 20px;
	color: white;
	background-color: #3b537d;
}

.side_step--todo {
	height: 90px;
	margin: 10px 0;
	padding: 20px;
	color: white;
	background-color: #eef1f4;
	color: #afb3b7
}

.side-stepnum--done, .side-stepnum--todo {
	margin: 5px 0;
}

.side_mass {
	height: 90px;
	margin: 10px 0;
}


.side_mass--red {
	border:1px solid #d47474; 
	color: #d47474;
	background-color: #fff8f8;
}

.side_mass--yellow {
	border:1px solid #e7d367; 
	color: #e7d367;
	background-color: #fdfdf3;
}


.mass_img, .mass_text {
	float: left;
	height: 40px;
	margin: 25px;
}

.mass_text {
	margin-left: 0;
}

.mass_h {
	font-weight: bold;
	font-size: 20px;
}

.mass_p--red {
	color: #533030;
	font-size: 14px;
}

.mass_p--yellow {
	color: #808072;
	font-size: 14px;
}


@media screen and (max-width: 960px) {

	.main_wrap {
		min-width: 100%;
		margin: 0;
	}

	.mainblock_h2--small {
		min-height: 50px;
	}

	.mainblock_h2--picksmall {
		display: block;
		text-align: center;
		min-width: 10px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 720px){

	.mainblock_form {
		width: 90%;
		margin: 0 5%;
	}

}

@media screen and (max-width: 670px){

	.main_content{
		width: 100%;
	}

	.main_side{
		width: 100%;
	}


}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!  footer  !!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.footer_content {
	background-color: #252930;
	border-top: 1px solid #252930;
	padding-top: 30px;
}

.footer_wrap {
	width: 80%;
	min-width: 950px;
	margin: 0 auto;
}

.footer_text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.footer_inf {
	width: calc(2*100%/3);
	float: left;
}

.footer_hours {
	width: calc(100%/3);
	float: left;
	padding: 0 5%;
}

.inf_block img{
	width: 100%;
}

.inf_block {
	float: left;
	width: 36%;
}

.inf_block--text {
	width: 60%;
	margin: 0 2%;
}

.footer_text {
	font-size: 13px;
	color: #c0c6cf;
}

.footer_h2 {
	color: white;
	font-weight: bold;
	position: relative;
	margin-bottom: 20px;
}

.footer_h2:before {
	content: url(../images/stripe.png);
	position: absolute;
	left: 0;
	top: 15px;
}

.footer_text, .footer_icons {
	margin: 15px 0;
}

.footer_icons img {
	margin: 5px;
}

.footer_nav {
	background-color: #191e25;
	min-height: 90px;
	line-height: 90px;
}

.copyright {
	width: 50%;
	float: left;
	font-size: 15px;
	color: white;
}

.navigation {
	float: left;
	width: 50%;
}

.navigation_ul--li {
	list-style-type: none;
	float: left;
	text-align: center;
	width: 16%;
}

.navigation_ul--li a:hover {
	color: #426181;
}

.navigation_ul--li a {
	text-decoration: none;
	color: white
}

@media screen and (max-width: 960px){

	.footer_wrap {
		min-width: 100%;
	}

	.footer_hours, .footer_inf, .inf_block {
		float: none;
		margin: 2% 0 0 2%;
		padding: 0;
	}

	.inf_block {
		margin: 0;
	}

	.inf_block--img {
		display: none;
	}

	.footer_icons {
		margin-bottom: 0;
	}

	.footer_nav {
		line-height: 30px;
	}

	.navigation_ul--li {
		float: none;
	}

	.navigation, .copyright {
		width: 100%;
	}
}






/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.clearfix {
	clear: both;
}