* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 30%;
    margin: 0 auto;
}

/*Checkboxes styles*/

.check-box-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
}
.check-box {
    position: relative;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    box-shadow: 0 0 5px 0 #713131;
    border-radius: 4px;
}
.check-box-access {
    position: absolute;
    top: -12px;
    left: -2px;
    text-align: center;
    font-size: 38px;
    color: green;
}
.radio-box {
    min-width: 20px;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin: 0 10px;
    box-shadow: 0 0 5px 0 #713131;
    border-radius: 50%;
}
.radio-box-access {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #713131;
}
.box-title-input {
    border: none;
    border-bottom: 1px solid #f1a3d4;
    min-height: 23px;
    width: 400px;
    line-height: 23px;
    padding-left: 10px;
    outline: none;
    word-wrap: break-word;
}
.check-box:hover, .radio-box:hover {
    box-shadow: 0 0 10px 0 #0a25c0;
}
.wrap {
    box-shadow: 0 0 5px 0 rgb(70, 36, 36);
    margin-right: 10px;
    user-select: none;
}
.trig {
    width: 50%;
    color: rgb(246, 250, 253);
    text-align: center;
    font-weight: bold;
    transition: all ease .5s;
    user-select: none;
}
.big {
    width: 150px;
    height: 50px;
}
.small {
    width: 75px;
    height: 25px;
}
.big-trig {
    height: 50px;
    line-height: 50px;
}
.small-trig {
    height: 25px;
    line-height: 25px;
}
.trig-on {
    margin-left: 50%;
    background: rgb(87, 113, 199);
}
.trig-off {
    margin-left: 0;
    background: rgb(85, 85, 85);
}

/*Test styles*/

.edit-mode-test {
    width: 500px;
    height: 250px;
    border: 1px solid red;
    text-align: center;
    font-size: 30px;    
    margin: 20px;
}
.view-mode-test {
    width: 500px;
    height: 250px;
    border: 1px solid blue;
    text-align: center;
    line-height: 250px;
    font-size: 30px;    
    margin: 20px;
}

.test-form-textarea {
    width: 100%;
    height: 100px;
}

.test-form-title {
    border-bottom: 1px solid grey;
    font-size: 20px;
}

.test-form-text {
    background: linear-gradient(0.25turn,#babae2, #fff);
}

.box-title-area {
    min-height: 100px;
    box-shadow: 0 0 5px 0 #58606b;
    padding: 10px;
    font-style: italic;
    word-wrap: break-word;
}

.add-button {
    border: none;
    box-shadow: 0 0 5px 0 #58606b;
    margin: 10px;
    font-size: 16px;
}
