.task__item {
  position: relative;
}
.task__item:before {
  position: absolute;
  top: -12px;
  left: -12px;
  display: block;
  text-align: center;
  line-height: 22px;
  width: 22px;
  height: 22px;
  background: #fff;
  display: block;
  border-radius: 50%;
  box-shadow: 2px 2px 11px -3px rgba(122, 121, 121, 50%);
}

@for $i from 1 through 50 {
  .task__item:nth-child(50n + #{$i}):before {
    content: "#{$i}";
  }
}