.example {
  width: 100px;
  height: 15px;
  margin-bottom: 10px;
  background: red;
  transition: all 1s cubic-bezier(0,-0.8,1,1);
}

.example:hover {
  width: 500px;
  transition: all 1s cubic-bezier(0,0,.8,1.5);
}

input ~ label:before {
  content: "Start animation";
}

input:checked ~ label:before {
  content: "Stop animation";
}

/* example 1 */

.increasing {
  width: 500px;
}

.increasing .example {
  width: 0;
}

.increasing input:checked ~ .example {
  animation: increase 2s forwards alternate infinite;
}

.increasing input:checked ~ .example:nth-of-type(1) {
  animation-delay: .5s;
}
.increasing input:checked ~ .example:nth-of-type(2) {
  animation-delay: 1s;
}
.increasing input:checked ~ .example:nth-of-type(3) {
  animation-delay: 1.5s;
}
.increasing input:checked ~ .example:nth-of-type(4) {
  animation-delay: 2s;
}
.increasing input:checked ~ .example:nth-of-type(5) {
  animation-delay: 2.5s;
}

@keyframes increase {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* example 2 */

.sliding {
  width: 500px;
}

.sliding .example {
  position: relative;
  width: 100%;
  display: flex;
  background: transparent;
  overflow: hidden;
}

.sliding .example:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: red;
}

.sliding input:checked ~  .example:before {
  animation: slide 2s  forwards alternate infinite;
}

.sliding  input:checked ~ .example:nth-of-type(1):before {
  animation-delay: .5s;
}
.sliding  input:checked ~ .example:nth-of-type(2):before {
  animation-delay: 1s;
}
.sliding  input:checked ~ .example:nth-of-type(3):before {
  animation-delay: 1.5s;
}
.sliding  input:checked ~ .example:nth-of-type(4):before {
  animation-delay: 2s;
}
.sliding  input:checked ~ .example:nth-of-type(5):before {
  animation-delay: 2.5s;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* example 3 */

.color {
  width: 500px;
}

.color .example {
  width: 100%;
  background-color: transparent;
}

.color input:checked ~ .example {
  animation: color 1s  forwards alternate infinite;
}

.color input:checked ~ .example:nth-of-type(1) {
  animation-delay: .2s;
}
.color input:checked ~ .example:nth-of-type(2) {
  animation-delay: .4s;
}
.color input:checked ~ .example:nth-of-type(3) {
  animation-delay: .6s;
}
.color input:checked ~ .example:nth-of-type(4) {
  animation-delay: .8s;
}
.color input:checked ~ .example:nth-of-type(5) {
  animation-delay: 1s;
}

@keyframes color {
  0% {
    background: #ff0000;
  }
  10% {
    background: #ff00ef;
  }
  20% {
    background: #8100ff;
  }
  30% {
    background: #000cff;
  }
  40% {
    background: #008dff;
  }
  50% {
    background: #00ffef;
  }
  60% {
    background: #00ff79;
  }
  70% {
    background: #37ff00;
  }
  80% {
    background: #c4ff00;
  }
  90% {
    background: #ffa100;
  }
  100% {
    background: #ff0000;
  }
}

/* example 4 */
.phone .example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.phone .example img {
  width: 60px;
}

.phone input:checked ~ .example {
  animation: bounce 1s forwards alternate infinite;
}
.phone input:checked ~ .example img {
  animation: shake 3s forwards alternate infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  0% {
    transform: scale(1.2);
  }
}

@keyframes shake {
  0% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  84% {
    transform: rotate(-20deg);
  }
  88% {
    transform: rotate(20deg);
  }
  92% {
    transform: rotate(-20deg);
  }
  96% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

/* example 5 */

.perspective__wrapper {
  width: 200px;
  perspective: 800px;
}

.transform__example {
  position: relative;
  display: block;
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  transform: rotateY(0);
  transform-style: preserve-3d;
}

input:checked ~ .perspective__wrapper .transform__example {
  animation: spin 3s linear infinite;
}

.transform__front,
.transform__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 4px -1px grey;
  background: #fff;
  transform-style: preserve-3d;
}

.transform__example .head,
.transform__example button,
.transform__example img {
  transform: translateZ(80px);
}

.transform__example button {
  margin: 20px;
  box-shadow: 0 0 20px -5px grey;
}

.transform__example img {
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 0 20px -5px grey;
}

.transform__back {
  transform: rotateY(180deg);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* animation 5 */

.transform-cube .perspective__wrapper {
  width: 200px;
  perspective: 800px;
}

.transform-cube__example {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: 40px;
  transform: rotate3d(1, 1, 1, 0deg);
  transform-style: preserve-3d;
}

input:checked ~ .perspective__wrapper .transform-cube__example {
  animation: spin3d 3s linear infinite;
}

.transform-cube-1,
.transform-cube-2,
.transform-cube-3,
.transform-cube-4,
.transform-cube-5,
.transform-cube-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.1);
  border: 1px solid #fff;
  transform-style: preserve-3d;
}


.transform-cube-1 span,
.transform-cube-2 span,
.transform-cube-3 span,
.transform-cube-4 span,
.transform-cube-5 span,
.transform-cube-6 span {
  transform: translateZ(20px);
  font-size: 40px;
}
.transform-cube-1 {
  transform: translateZ(100px);
}

.transform-cube-2 {
  transform: translateZ(-100px) rotateY(180deg);
}

.transform-cube-3 {
  transform: translateX(100px) rotateY(90deg);
}

.transform-cube-4 {
  transform: translateX(-100px) rotateY(-90deg);
}

.transform-cube-5 {
  transform: translateY(100px) rotateX(-90deg);
}

.transform-cube-6 {
  transform: translateY(-100px) rotateX(90deg);
}


.transform__example .head,
.transform__example button,
.transform__example img {
  transform: translateZ(80px);
}

.transform__example button {
  margin: 20px;
  box-shadow: 0 0 20px -5px grey;
}

.transform__example img {
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 0 20px -5px grey;
}

.transform__back {
  transform: rotateY(180deg);
}

@keyframes spin3d {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
