* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('kartinki24_ru_greece_25_1920x1200 (1).jpg');
    background-size: cover;
    color:#3a2550;
}

a {
    text-decoration: none;
    color:#3a2550;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    width: 70%;
    margin: auto;
    background: rgba(255,255,255,.6);
    
}

.head {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;            
    font-weight: 600;
    text-transform: uppercase;
}

.left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 25px;
}

.logo {
    width: 75px;
}

.right {
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right
}

.tel {
    font-size: 22px;
    padding: 5px;
}

.title {
    font-size: 45px;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    
}

.main {
    -webkit-box-flex: 12;
        -ms-flex-positive: 12;
            flex-grow: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main>.btn {
    width: 300px;
    margin: 0 auto 60px;
    text-align: center;
    background: #55556b;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.soc, .phones {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    padding: 30px;
}

.soc>a, .phones>.fab {
    text-decoration: none;
    color: #3a2550;
    margin: 0 10px;
    font-size: 30px;
}

.soc>a:hover {
    color: darkred
}

.form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 300px;
    text-align: center;
    background: rgba(255,255,255,.9)
}

.inp>input {
    width: 80%;
    height: 30px;
    margin: 20px 0;
    padding: 10px;
    font-style: italic;
    color: grey;
}

.form {
    display: none;
}

.form>.btn {
    width: 200px;
    margin: 10px auto;
    padding: 18px 0;
    background: #9e9e80;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.form>.zmdi {
    position: absolute;
    font-size: 31px;
    right: -29px;
    top: -34px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 100vW;
    }

    .main {
        padding: 75px 0;
    }

    .title {
        padding: 0;
        font-size: 25px;
        font-weight: bold;
    }

    .main>.btn {
        margin: 30px auto;
    }

    .left, .tel {
        font-size: 16px;
    }

    .left {
        max-width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .form {
        width: 100%;
    }

    .form>.zmdi {
        top: 10px;
        right: 10px;
    }
}

.logo-brig {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.logo-brig>img {
    width: 50px;
}
.logo-brig .title {
    width: 50px;
    font-size: 10px;    
}